
    $primary: #a16eff;
    $success: #00d68f;
    $info: #0095ff;
    $warning: #ffaa00;
    $danger: #ff3d71;

    $fontMain: FuturaPT, sans-serif;
    $fontSecondary: Montserrat, sans-serif;
  
    $bg: #323259;
    $bg2: #252547;
    $bg3: #1b1b38;
    $bg4: #13132b;
    $bgHeader: #25254775;
  
    $border: #323259;
    $border2: #252547;
    $border3: #1b1b38;
    $border4: #13132b;
    $border5: #13132b;
  
    $mainText: #000;
    $text: #218359;;
    $fg: #b4b4db;
    $fgHeading: #ffffff;
    $fgText: #ffffff;
    $layoutBg: #151a30;
    $separator: #151a30;

    $buttonBgMain: #739e8a;
    $buttonTextMain: #ffffff;
    $buttonBS: 0px 4px 4px rgba(61, 53, 77, 0.37);

    $cardBr: 15px;
    $cardBg: #C4C4C4;

    $progressBarBg: rgba(196, 196, 196, 0.5);
    $progressBarBg2: #3F3D56;

  
    $primaryLight: #b18aff;
    $successLight: #2ce69b;
    $infoLight: #42aaff;
    $warningLight: #ffc94d;
    $dangerLight: #ff708d;
