<section class="contacts" id="contacts">
    <div class="container">
        <h2>Наша команда - это все Вы!</h2>
        <div class="section__call">
            <p>В Республике Беларусь не существует официальной помощи животным. У нас нет таких мест, где в любой момент примут от Вас животное. Гурского - не приют, а место временного содержания. Там животные гибнут или их убивают. Да и никаких приютов не хватит для всех нуждающихся, т.к. в Беларуси не существует государственной программы контроля и ограничения рождаемости домашних питомцев.</p>
            <p>ЗООшанс полностью состоит из волонтёров. Государство не оказывает нам никакой помощи. Как и у всех вас, у нас свои семьи, свои проблемы и официальная работа. Только помимо этого, у себя дома мы содержим многочисленных спасенных от смерти домашних питомцев. Свободных мест просто не бывает – поэтому многие гибнут, так и не дождавшись помощи. Мы тратим все свои силы, свое свободное время и свои возможности на помощь бездомным животным. Но нуждающихся в этой помощи несоизмеримо больше, чем нас.</p>
            <p>Только вместе с Вами мы можем спасти кого-то еще. Воспользуйтесь нашим опытом и знаниями и Вы тоже сможете подарить кому-то счастливую жизнь. Мы рады будем вам помочь или получить от вас отзыв по работе объединения, по указаным ниже контактам.
                Вы так же можете задать свой вопрос на форуме.</p>
        </div>
        <div class="section__contacts">
            <div class="group">
                <h3>Председатель объединения, Великий Человек: </h3>
                <p>Контактный телефон: +375 29 zzz-zz-zz</p>
                <p>E-mail: zzz@zzzzhans.by</p>
            </div>
            <div class="group">
                <h3>Отдел рекламы:</h3>
                <p>Контактный телефон: +375 29 zzz-zz-zz</p>
                <p>E-mail: zzz@zzzzhans.by</p>
            </div>
            <div class="group">
                <h3>Куратор:</h3>
                <p>Контактный телефон: +375 29 zzz-zz-zz</p>
                <p>E-mail: zzz@zzzzhans.by</p>
            </div>
        </div>
    </div>
</section>
