@import '../../../@theme/index';
.blog{
  margin: 0;
  padding: 0;
  color: #218359;
  .block--border__fat{
    width: 870px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .content{
    width: 870px;
  }
}
