<section class="blog" id="blog">
    <div class="blockCol--align__center">
        <h5>Они нашли свою семью!</h5>
        <div class="block--border__thin">
            <div class="block--border__wide">
                <div class="block--border__fat">
                    <div class="bloc__groupPhoto"
                        *ngFor="
                        let item of groupPhoto
                        let i = index;"
                    >
                        <app-projector
                                [section]="'blog'"
                                [bg]="item.bg"
                                [alt]="item.heading"
                                [index]="i"
                                [animation]="'animation'"
                                [sec]="item.ns"
                        ></app-projector>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <p>В мире есть особый тип людей, которые чувствуют боль других как свою собственную и не могут пройти мимо, не оказав помощь тому, кто в ней нуждается. Такие поступки всегда вознаграждаются искренними объятиями и теплым, пусть и звериным, взглядом.</p>
            <p></p>
        </div>

    </div>
</section>

