<main class="home" id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="home__heading">
          Важно быть нужным
        </h1>
        <p class="home__intro">
          «Думай глобально, и действуй локально!» - Не бывает маленькой помощи. Помните, их жизнь в наших руках.
        </p>
        <app-button
                [text] = "'Хочу помочь >'"
                [clickHandler]="redirectRouterTest">

        </app-button>
      </div>
    </div>
  </div>
</main>
